<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>735728287673-babi8cd8usf7od83cm6hl63recppcs1t.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.735728287673-babi8cd8usf7od83cm6hl63recppcs1t</string>
	<key>API_KEY</key>
	<string>AIzaSyB5xPSx3kAjNHhxHxykfWgvWw4_Rko8M-c</string>
	<key>GCM_SENDER_ID</key>
	<string>735728287673</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.bencraft.ceitbapp</string>
	<key>PROJECT_ID</key>
	<string>bencraft-a8275</string>
	<key>STORAGE_BUCKET</key>
	<string>bencraft-a8275.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:735728287673:ios:b2eb0b9d1e9e9363</string>
	<key>DATABASE_URL</key>
	<string>https://bencraft-a8275.firebaseio.com</string>
</dict>
</plist>